.random-bird {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #303030;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 25px;
  h3 {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 0.5rem;
  }
}

.image-bird {
  border-radius: 15px;
  background-size: cover;
  width: 200px;
  height: 155px;
  background-position: center;
}

.question-info {
  width: calc(100% - 245px);
  min-width: 230px;
  margin-left: 40px;
  li {
    padding: .25rem;
  }
  li:first-child {
    border-bottom: solid 1px #555;
  }
}

