.nav-item {
  font-size: 0.9375rem !important;
  font-weight: 400 !important;
  flex-grow: 1;
  text-transform: none !important;
  &:focus {
    background-color: #00bc8c !important;
  }
  &:active {
    background-color: #00bc8c !important;
  }
}

.navigation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}