.nav-item {
  cursor: default!important;
  font-size: 0.9375rem !important;
  font-weight: 400 !important;
  flex-grow: 1;
  text-transform: none !important;
}

.navigation {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}