$margin: 7px;

.answerItem {
  display: flex;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  align-items: center;
  &:hover {
    background-color: darkgrey;
  }
}

.select-true {
  color: green;
  &:hover {
    background-color: white;
  }
}

.select-false {
  color: indianred;
  &:hover {
    background-color: white;
  }
}