.answer-options {
  background: rgba(233,233,233,1);
  width: 100%;
  border-radius: 10px;
  overflow: auto;
  color: rgba(34,34,34, 1);
  @media screen and (min-width: 700px){
    width: 48%;
    margin-top: 0;
  }
}